@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Noto+Sans+TC:wght@200;400;500;700&family=Redacted+Script&display=swap");
/* @font-face {
    
      font-family: 'Noto Sans TC';
      src: url('/path/to/NotoSansTC-Regular.otf') format('opentype');
  } */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  font-family: "Noto Sans TC", sans-serif;
}

body a {
  text-decoration: none;
  color: inherit;
}

body button {
  font-size: 19px;
  line-height: 16px;
  cursor: pointer;
  border: none;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background-color: #fff;
  padding: 10px 0;
  z-index: 999;
}

.nav-wrapper .nav-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotype-h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #448899;
}

.nav-list {
  display: flex;
  transition: all 0.3s;
}

.nav-list .nav-item {
  padding: 10px;
  color: #666666;
  cursor: pointer;
}

.nav-list .nav-item:hover {
  color: black;
}

.nav-line {
  width: 100%;
  border: 1px #e8e8e8 solid;
}

main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #757575;
  height: 104px;
  width: 100%;
  color: #f8f8f8;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .nav-list .nav-item-2 {
    padding-right: 0;
  }
  .nav-wrapper {
    padding: 10px;
  }
  .jumbotron .jumbotron-text {
    margin: 0 20px;
  }
  .button-list-wrapper {
    margin: 40px 15px 20px 15px;
  }
  .button-list-wrapper .left-arrow {
    left: 0;
  }
  .button-list-wrapper .right-arrow {
    right: 0;
  }
}

main {
  margin-top: 54px;
  margin-bottom: 134px;
}

.photo-section {
  display: flex;
  flex: 1 1 50%;
  margin-top: 37px;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  height: 406px;
  width: 100%;
  max-width: 1200px;
  gap: 30px;
}

.button-list-wrapper {
  position: relative;
}

.images-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 540px;
  height: 406px;
  padding: 0;
  margin: 0;
  background: none;
  overflow-y: hidden;
  /* 讓內容超出時能左右滾動 */
  overflow-x: auto;
  /* 對於 WebKit 瀏覽器如 Chrome 和 Safari */
  /* 對於 Internet Explorer 和 Edge */
  -ms-overflow-style: none;
  /* 對於 Firefox */
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.images-wrapper::-webkit-scrollbar {
  display: none;
}

.images-wrapper .attraction-image {
  height: 406px;
  min-width: 540px;
  object-fit: cover;
}

.arrow-button {
  z-index: 999;
  position: absolute;
  width: 36px;
  height: 36px;
  padding: 0;
  top: 50%;
  font-size: 22px;
  /* z-index: 1; */
  transform: translateY(-50%);
  background-color: rgba(232, 232, 232, 0.7);
  color: rgba(117, 117, 117, 0.9);
  border: solid 1.3px rgba(117, 117, 117, 0.85);
  border-radius: 100%;
  line-height: 30px;
  text-align: center;
}

.arrow-button:hover {
  background: #fff;
  color: black;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.dot-button-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  bottom: 13px;
  left: 50%;
  transform: translate(-50%);
}

.img-nav-button {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: white;
}

.img-nav-button-active {
  background: black;
  border: 1px solid white;
}

.photo-data {
  width: 600px;
  display: flex;
  flex-direction: column;
  color: #666666;
}

.photo-data .photo-booking-form {
  display: flex;
  flex-direction: column;
}

.attraction-essay {
  max-width: 1200px;
  line-height: 30px;
}

.attraction-name {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.attraction-subtitle {
  margin-bottom: 20px;
}

.photo-booking {
  height: 302px;
  padding: 15px 20px;
  background: #e8e8e8;
  font-weight: 700;
  border-radius: 5px;
}

.photo-booking .photo-booking-title {
  margin-bottom: 15px;
}

.photo-booking .photo-subtitle {
  font-weight: 500;
  margin-bottom: 15px;
  line-height: normal;
}

.photo-booking .photo-date {
  margin-bottom: 24px;
}

.photo-booking .radio-label {
  font-weight: 500;
  margin-left: 4px;
}

.photo-booking .radio-wrapper {
  margin-bottom: 19px;
}

.photo-booking .fee-wrapper {
  margin-bottom: 25px;
}

.photo-booking .photo-fee {
  font-weight: 500;
  margin-left: 5px;
}

.photo-time {
  margin-right: 10px;
}

.radio-wrapper {
  display: flex;
  align-items: center;
}

.radio-label {
  margin-right: 18px;
}

.fee-wrapper {
  display: flex;
  align-items: center;
}

input[type="date"] {
  border: none;
  padding: 5px 10px;
}

input[type="radio"] {
  appearance: none;
  width: 22px;
  height: 22px;
  margin: 0;
  margin-right: 4px;
  border-radius: 50%;
  border: none;
  background: white;
}

input[type="radio"]:checked {
  background: teal;
  border: 2px solid white;
}

.photo-submit {
  padding: 10px 20px;
  width: 154px;
  background: teal;
  color: white;
  border-radius: 5px;
  border: 5px;
  font-size: 19px;
  line-height: 16px;
}

.division-line {
  width: 1200px;
  border: 1px #e8e8e8 solid;
  margin-top: 37px;
  margin-bottom: 50px;
}

.attraction-description,
.attraction-address,
.attraction-transport {
  font-size: 16px;
  line-height: auto;
}

.attraction-description {
  margin-bottom: 20px;
}

.attraction-address {
  margin-bottom: 20px;
}

.attraction-address-title,
.attraction-transport-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .attraction-essay {
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  .division-line {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
  .button-list-wrapper .left-arrow {
    left: 15px;
  }
  .button-list-wrapper .right-arrow {
    right: 15px;
  }
}

@media (max-width: 940px) {
  .photo-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .photo-data {
    width: 100%;
    max-width: 540px;
  }
}

@media (max-width: 580px) {
  .images-wrapper .attraction-image {
    height: 350px;
    width: auto;
    min-height: 100%;
    object-fit: cover;
  }
}
