$primary-color: #448899; //cyan-70, #489
$primary-color-50: #6ab;
$primary-color-20: #ade;
$secondary-color: #666666; //gray-70, #666
$secondary-color-50: #757575;
$secondary-color-20: #e8e8e8;
$secondary-color-10: #f8f8f8;
$gradient1: linear-gradient(45deg, #aaddee, #66aabb);
$gradient2: linear-gradient(0deg, #337788, #66aabb);
$gradient-radial: radial-gradient(circle, rgba(#66aabb, 0.6), rgba(#337788, 0.7));
$gradient-radial2: radial-gradient(circle, rgba(#aaddee, 0.7), rgba(#66aabb, 0.8));
$support-color-blue-gray: #aabbcc;
$real-white: #fff;
$font: "Noto Sans TC", sans-serif;
$font-regular-size: 16px;
$basic-border-radius: 5px;
$basic-padding: 10px;
$input-padding: 15px;
$max-width: 1200px;
$header-height: 54px;
$welcome-visible-height: 320px;
$search-bar-height: 46px;
$search-bar-desktop-width: 460px;
$search-bar-mobile-width: 285px;

.gradient-placeholder {
    background: radial-gradient(circle, rgba(#aaddee, 0.7), rgba(#66aabb, 0.8));
}

@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Noto+Sans+TC:wght@200;400;500;700&family=Redacted+Script&display=swap");

/* @font-face {
    
      font-family: 'Noto Sans TC';
      src: url('/path/to/NotoSansTC-Regular.otf') format('opentype');
  } */

@keyframes loading-animation {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
    // from {
    //     background-color: rgba(170, 187, 204, 0);
    // }
    // to {
    //     background-color: rgba(170, 187, 204, 0.5);
    // }
}

@mixin h1-slogan {
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
}
@mixin h2-headline {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
}
@mixin h3-dialog {
    // font-weight: 700;
    // font-weight: 400;
    //  // regular, css=normal
    font-size: 24px;
    line-height: 24px;
}
@mixin button-text {
    // font-weight: 400;
    // // default  regular, css=normal

    // font-weight: 700;
    font-size: 19px;
    line-height: 16px;
}
@mixin content-text {
    // font-weight: 400;
    // // default regular, css=normal

    // font-weight: 700;
    font-size: 16px;
    line-height: auto;
}
@mixin body-text {
    font-weight: 500;
    // change default to medium (500)
    // font-weight: 700;
    font-size: 16px;
    line-height: 13.3px;
}

@mixin list-text {
    font-weight: 500; // medium
    font-size: 14px;
    line-height: auto;
}
@mixin input-default {
    @include body-text;
    background-color: $real-white;
    border-radius: $basic-border-radius;
    outline: none;
    border: 1px solid #ccc;
}

// button
@mixin primary-button {
    padding: 10px 20px;
    background: $primary-color;
    color: white;
    border-radius: $basic-border-radius;
    border: 5px;
}

// hr

.division-line {
    width: $max-width;
    // border: 1px $secondary-color-20 solid;
    height: 1px;
    background: $secondary-color-20;
    border: none;
    margin-top: 37px;
    margin-bottom: 50px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    @include body-text;
    font-family: $font;
    // background-color: $secondary-color-50;
    // font-size: $font-regular-size;
    a {
        text-decoration: none;
        color: inherit;
    }
    button {
        @include button-text;
        cursor: pointer;
        border: none;
    }
}

.page-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrap {
    background: $real-white;
    flex: 1;
    padding-bottom: 40px;
}

img {
    &:hover {
        cursor: pointer;
        opacity: 0.7;
        transition: ease-in-out 0.3s;
    }
}

// nav
.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: $header-height;
    background-color: $real-white;
    padding: $basic-padding 0;
    z-index: 999;

    .nav-content {
        max-width: $max-width;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logotype-h2 {
    @include h2-headline;
    color: $primary-color;
}
.nav-list {
    display: flex;

    transition: all 0.3s;

    .nav-item {
        padding: $basic-padding;
        color: $secondary-color;
        cursor: pointer;

        &:hover {
            color: black;
        }
    }
}
.nav-line {
    width: 100%;
    height: 1px;
    background: $secondary-color-20;
    border: none;
}

// modal
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;

    // display: flex;
    // justify-content: start;
    flex-direction: column;
    align-items: flex-start;
}

.modal-content {
    width: 340px;
    position: relative;
    margin: 0 auto auto auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 0 0 6px 6px;
}
.color-bar {
    width: 340px;
    height: 10px;
    margin: 80px auto 0 auto;
    background: linear-gradient(270deg, #378 0%, #6ab 100%);
    border-radius: 6px 6px 0 0;
}

.close-btn {
    position: absolute;
    top: 17px;
    right: 17px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 200;
    color: rgba($secondary-color-50, 0.6);
}

#login-form,
#register-form {
    display: flex;
    flex-direction: column;
}

.login-h3,
.register-h3 {
    @include h3-dialog;
    font-weight: 700;
    color: $secondary-color;
    margin: auto;
    margin-bottom: 15px;
}

.login-input,
.register-input {
    padding: 15px;
    border-radius: $basic-border-radius;
    border: 1px solid $secondary-color-20;
    margin-bottom: 10px;
}
#login-btn,
#register-btn {
    @include button-text;
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    border-radius: $basic-border-radius;
    margin-bottom: 10px;
}
.go-to-register,
.go-to-login {
    margin: auto;
    color: $secondary-color;

    #show-login,
    #show-register {
        cursor: pointer;

        &:hover {
            color: rgba($primary-color, 0.8);
        }
    }
}

#register-error,
#login-error {
    margin: 15px auto 0 auto;
    color: rgb(235, 71, 71);
    line-height: 18px;
}

// main
main {
    max-width: $max-width;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// footer
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color-50;
    height: 104px;
    width: 100%;
    z-index: 999;

    color: $secondary-color-10;
    font-weight: 700;

    &:hover {
        cursor: none;
    }
}
@media (max-width: 1200px) {
    .nav-list .nav-item-2 {
        padding-right: 0;
    }
    .nav-wrapper {
        padding: $basic-padding;
    }
    // .nav-content {
    //     margin: auto 10px;
    // }
    .button-list-wrapper {
        margin: 40px 15px 20px 15px;

        .left-arrow {
            left: 0;
        }
        .right-arrow {
            right: 0;
        }
    }
    .division-line {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }
}
