// aspect-ratio
// 圖片比例

/* @font-face {
      font-family: 'Noto Sans TC';
      src: url('/path/to/NotoSansTC-Regular.otf') format('opentype');
  } */
@import "base";

*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    @include body-text;
    // font-family: $font;
    // font-size: $font-regular-size;
    a {
        text-decoration: none;
        color: inherit;
    }
    button {
        @include button-text;
        cursor: pointer;
        border: none;
    }
}

// nav {
//     #hamburger-menu-click {
//         display: none;
//     }
//     .hamburger-menu-label {
//         .hamburger-menu,
//         .xmark {
//             display: none;
//         }
//     }
// }
/* 
nav .hamburger-menu-label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
} 
nav #hamburger-menu-click:checked + .hamburger-menu-label {
    .xmark {
        display: block;
        position: fixed;
        right: 20px;
        z-index: 1001;
    }
    .hamburger-menu {
      display: none;
    }
}
nav #hamburger-menu-click:checked ~ .nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--fill-all);
    height: 300px;
    background-color: lightgrey;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    padding-top: 50px;
    transition: all 0.3s;
    z-index: 1000;

    .nav-item {
        width: var(--fill-all);
        text-align: center;
        padding: 15px 0;
    } 
}
*/

// hero section
.jumbotron {
    margin-top: $header-height;
    /* 推開 header height */
    height: $welcome-visible-height;

    /* background-image: url({{ url_for('static', filename='images/jumbotron-bg.png') }});  */
    background-size: cover;
    background-position: left top;
}
.jumbotron-text {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */

    .slogan-h1 {
        @include h1-slogan;
        margin-top: 85px;
        // guess not 15px with designer eyes
        margin-bottom: 25px;
        color: $secondary-color-10;
        text-shadow: 0px 0px 30px #abc;
    }
    .subtitle-p {
        // @include body-text;
        font-weight: 700;
        margin-bottom: 25px;
        color: $secondary-color-10;
    }
}
// hero : search bar
.search-bar {
    /*  UI */
    position: relative;
    width: $search-bar-desktop-width;
    height: $search-bar-height;
    border-radius: $basic-border-radius;
    // overflow: hidden;

    #search-input {
        @include input-default;
        // not default, set to bold
        font-weight: 700;

        border-radius: $basic-border-radius 0 0 $basic-border-radius;
        outline: none;
        padding: $input-padding;
        // padding-right: 45px;
        height: 100%;
        width: calc(#{$search-bar-desktop-width} - 60px);

        background-color: $real-white;
        // guess by designer eyes
        box-shadow:
            -5px 5px 15px rgba(0, 0, 0, 0.1),
            -5px -5px 15px rgba(0, 0, 0, 0.1),
            0px 5px 15px rgba(0, 0, 0, 0.1);

        ::placeholder {
            color: $secondary-color-50;
        }
    }

    #search-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 100%;
        margin: 0;
        border-radius: 0 $basic-border-radius $basic-border-radius 0;
        padding: 8px 15px;
        color: $real-white;
        background-color: $primary-color;
        // img {
        //     width: 30px;
        //     height: 30px;
        // }
        // .fas {
        //     font-size: 20px;
        // }
    }
}

.button-list-wrapper {
    position: relative;
    height: 50px;
    max-width: $max-width;
    margin: 40px auto 20px auto;

    .arrow-button {
        width: 32px;
        height: 32px;
        padding: 0;

        position: absolute;
        top: 23px;
        // guess by designer eyes
        font-size: 22px;
        /* z-index: 1; */

        transform: translateY(-50%);

        background-color: rgba($secondary-color-20, 0.1);
        color: rgba($secondary-color-50, 0.9);
        border: solid 1.3px rgba($secondary-color-50, 0.85);
        border-radius: 100%;

        line-height: 30px;
        text-align: center;

        &:hover {
            background: $real-white;
            color: black;
        }
    }
    .left-arrow {
        left: 15px;
    }
    .right-arrow {
        right: 15px;
    }
}

.button-wrapper {
    /* 對於 WebKit 瀏覽器如 Chrome 和 Safari */
    &::-webkit-scrollbar {
        display: none;
    }

    margin: 0 57px;
    //15px + circle + 10px padding
    padding: 13px 0;

    white-space: nowrap;
    /* 讓內容超出時能左右滾動 */
    overflow-x: auto;

    /* 對於 Internet Explorer 和 Edge */
    -ms-overflow-style: none;
    /* 對於 Firefox */
    scrollbar-width: none;
    scroll-behavior: smooth;

    .keyword-button {
        @include body-text;
        color: $secondary-color-50;
        background-color: $real-white;
        margin: 0;
        padding: 5px 15px;

        &:hover {
            color: black;
        }
    }
}
.photo-profile {
    padding: 15px;
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 30px 30px;
    flex-wrap: wrap;
    width: 100%;

    .profile-li {
        height: 242px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        flex: 1 1 calc(25% - 30px);
        max-width: 270px;

        border-radius: $basic-border-radius;
        border: 1px solid $secondary-color-20;
        background: $real-white;
    }
}

.profile-img {
    height: 197px;
    position: relative;
    width: 100%;
    overflow: hidden;

    .main-image {
        height: 197px;
        width: 100%;
        object-fit: cover;
    }
    .fallback-text {
        background: url("../images/jumbotron-bg.png") no-repeat top right;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 197px;
        width: 100%;
        @include button-text;
        font-weight: 700;
        color: rgba($secondary-color-50, 0.8);
    }
}

//.profile-img {
//  .star {
//      position: absolute;
//      right: 3px;
//      top: 5px;
//      :hover {
//             fill: yellow;
//         }
//     }
//}

.profile-img-div {
    display: flex;
    align-items: center;
    width: 100%;
    padding: $basic-padding;
}

.profile-title {
    position: absolute;
    bottom: 0;
    height: 40px;
    justify-content: flex-start;
    background-color: rgba(black, 0.6);
    color: white;
    font-weight: 700;
}

.profile-des {
    height: 45px;
    justify-content: space-between;
    background-color: white;
}

.no-data {
    @include h3-dialog;
    font-weight: 700;
    color: $real-white;
    background-color: rgba($support-color-blue-gray, 0.6);
    border-radius: $basic-border-radius;
    height: 300px;
    width: 100%;
    text-align: center;
    line-height: 300px;
}
@media (max-width: 1200px) {
    // .nav-content {
    //     margin: auto 10px;
    // }
    .jumbotron .jumbotron-text {
        margin: 0 20px;
    }
    .button-list-wrapper {
        margin: 40px 15px 20px 15px;

        .left-arrow {
            left: 0;
        }
        .right-arrow {
            right: 0;
        }
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .photo-profile .profile-li {
        flex: 1 1 30%;
    }
}

@media (min-width: 600px) and (max-width: 880px) {
    .photo-profile .profile-li {
        flex: 1 1 50%;
    }
}

@media (max-width: 600px) {
    /* nav .hamburger-menu-label .hamburger-menu {
        display: block;
    } */
    /* nav .nav-list {
        display: none;
    } */
    .search-bar {
        width: $search-bar-mobile-width;

        #search-input {
            width: calc(#{$search-bar-mobile-width} - 60px);
        }
    }
    .photo-profile {
        .profile-li {
            height: 270px;
            flex: 1 1 100%;
            max-width: 320px;
        }
    }
    .profile-img {
        height: 235px;

        .main-image {
            height: 235px;
        }
        .fallback-text {
            height: 235px;
        }
    }
}
