@charset "UTF-8";
/* @font-face {
      font-family: 'Noto Sans TC';
      src: url('/path/to/NotoSansTC-Regular.otf') format('opentype');
  } */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
}

body a {
  text-decoration: none;
  color: inherit;
}

body button {
  font-size: 19px;
  line-height: 16px;
  cursor: pointer;
  border: none;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background-color: #fff;
  padding: 10px 0;
  z-index: 999;
}

.nav-wrapper .nav-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotype-h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #448899;
}

.nav-list {
  display: flex;
  transition: all 0.3s;
}

.nav-list .nav-item {
  padding: 10px;
  color: #666666;
  cursor: pointer;
}

.nav-list .nav-item:hover {
  color: black;
}

/* 
nav .hamburger-menu-label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
} 
nav #hamburger-menu-click:checked + .hamburger-menu-label {
    .xmark {
        display: block;
        position: fixed;
        right: 20px;
        z-index: 1001;
    }
    .hamburger-menu {
      display: none;
    }
}
nav #hamburger-menu-click:checked ~ .nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--fill-all);
    height: 300px;
    background-color: lightgrey;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    padding-top: 50px;
    transition: all 0.3s;
    z-index: 1000;

    .nav-item {
        width: var(--fill-all);
        text-align: center;
        padding: 15px 0;
    } 
}
*/
.jumbotron {
  margin-top: 54px;
  /* 推開 header height */
  height: 320px;
  /* background-image: url({{ url_for('static', filename='images/jumbotron-bg.png') }});  */
  background-size: cover;
  background-position: left top;
}

.jumbotron-text {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
}

.jumbotron-text .slogan-h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 24px;
  margin-top: 85px;
  margin-bottom: 25px;
  color: #f8f8f8;
  text-shadow: 0px 0px 30px #abc;
}

.jumbotron-text .subtitle-p {
  font-weight: 700;
  margin-bottom: 25px;
  color: #f8f8f8;
}

.search-bar {
  /*  UI */
  position: relative;
  width: 460px;
  height: 46px;
  border-radius: 5px;
}

.search-bar #search-input {
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  font-weight: 700;
  border-radius: 5px 0 0 5px;
  outline: none;
  padding: 15px;
  height: 100%;
  width: calc(460px - 60px);
  background-color: #fff;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(0, 0, 0, 0.1), 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.search-bar #search-input ::placeholder {
  color: #757575;
}

.search-bar #search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  margin: 0;
  border-radius: 0 5px 5px 0;
  padding: 8px 15px;
  color: #fff;
  background-color: #448899;
}

.button-list-wrapper {
  position: relative;
  height: 50px;
  max-width: 1200px;
  margin: 40px auto 20px auto;
}

.button-list-wrapper .arrow-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20px;
  font-size: 22px;
  /* z-index: 1; */
  transform: translateY(-50%);
  background-color: rgba(232, 232, 232, 0.1);
  color: rgba(117, 117, 117, 0.9);
  border: solid 1.3px rgba(117, 117, 117, 0.85);
  border-radius: 100%;
  line-height: 30px;
  text-align: center;
}

.button-list-wrapper .arrow-button:hover {
  background: #fff;
  color: black;
}

.button-list-wrapper .left-arrow {
  left: 15px;
}

.button-list-wrapper .right-arrow {
  right: 15px;
}

.button-wrapper {
  /* 對於 WebKit 瀏覽器如 Chrome 和 Safari */
  margin: 0 57px;
  padding: 13px 0;
  white-space: nowrap;
  /* 讓內容超出時能左右滾動 */
  overflow-x: auto;
  /* 對於 Internet Explorer 和 Edge */
  -ms-overflow-style: none;
  /* 對於 Firefox */
  scrollbar-width: none;
}

.button-wrapper::-webkit-scrollbar {
  display: none;
}

.button-wrapper .keyword-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 13.3px;
  color: #757575;
  background-color: #fff;
  margin: 0;
  padding: 0 10px;
}

.button-wrapper .keyword-button:hover {
  color: black;
}

main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo-profile {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px 30px;
  flex-wrap: wrap;
  width: 100%;
}

.photo-profile .profile-li {
  height: 242px;
  flex: 1 1 23%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: #fff;
}

.profile-img {
  height: 197px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.profile-img .main-image {
  height: 197px;
  width: 100%;
  object-fit: cover;
}

.profile-img .fallback-text {
  background: url("../images/jumbotron-bg.png") no-repeat top right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 197px;
  width: 100%;
  font-size: 19px;
  line-height: 16px;
  font-weight: 700;
  color: rgba(117, 117, 117, 0.8);
}

.profile-img-div {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.profile-title {
  position: absolute;
  bottom: 0;
  height: 40px;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: 700;
}

.profile-des {
  height: 45px;
  justify-content: space-between;
  background-color: white;
}

.no-data {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  background-color: rgba(170, 187, 204, 0.6);
  border-radius: 5px;
  height: 300px;
  width: 100%;
  text-align: center;
  line-height: 300px;
}

footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #757575;
  height: 104px;
  width: 100%;
  color: #f8f8f8;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .nav-list .nav-item-2 {
    padding-right: 0;
  }
  .nav-wrapper {
    padding: 10px;
  }
  .jumbotron .jumbotron-text {
    margin: 0 20px;
  }
  .button-list-wrapper {
    margin: 40px 15px 20px 15px;
  }
  .button-list-wrapper .left-arrow {
    left: 0;
  }
  .button-list-wrapper .right-arrow {
    right: 0;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .photo-profile .profile-li {
    flex: 1 1 30%;
  }
}

@media (min-width: 600px) and (max-width: 880px) {
  .photo-profile .profile-li {
    flex: 1 1 40%;
  }
}

@media (max-width: 600px) {
  /* nav .hamburger-menu-label .hamburger-menu {
        display: block;
    } */
  /* nav .nav-list {
        display: none;
    } */
  .search-bar {
    width: 285px;
  }
  .search-bar #search-input {
    width: calc(285px - 60px);
  }
  .photo-profile .profile-li {
    height: 270px;
    width: 321px;
    flex: 1 1 60%;
  }
  .profile-img {
    height: 235px;
  }
  .profile-img .main-image {
    height: 235px;
  }
  .profile-img .fallback-text {
    height: 235px;
  }
}
