<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"> -->
{% extends "base.html" %}

{% block title %}phrase 2 - Week 2-Attraction{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/attraction.min.css') }}">
<script src="{{ url_for('static', filename='js/attraction.js') }}"></script>
{% endblock %}

<!-- </head> -->

<!-- <body> -->
<!-- header -->
{% block content %}
<main>
  <div class="photo-section">
    <div class="photo-div button-list-wrapper">
      <button title="left-arrow" class="arrow-button left-arrow"><i class="fas fa-chevron-left fa-xs"></i></button>
      <div class="photo-img-left-div images-wrapper">
        <!-- <img class="attraction-image attraction-image-1 " src="" alt="" />
            <img class="attraction-image attraction-image-2 " src="" alt="" />
            <img class="attraction-image attraction-image-3 " src="" alt="" /> -->
      </div>
      <div class="dot-button-wrapper">
        <!-- <div class="img-nav-button-1 img-nav-button-active"></div>
            <div class="img-nav-button-2 "></div>
            <div class="img-nav-button-3 "></div> -->
      </div>
      <button title="right-arrow" class="arrow-button right-arrow"><i class="fas fa-chevron-right fa-xs"></i></button>
    </div>
    <div class="photo-data">
      <h3 class="attraction-name">【 景點.名稱 name】</h3>
      <p class="attraction-subtitle"><span class="attraction-category ">【 景點.類型 category 】</span> at <span class="attraction-mrt">【 景點.捷運站 mrt 】</span></p>
      <div class="photo-booking">
        <form class="photo-booking-form">
          <span class="photo-booking-title"> 訂購導覽行程</span>
          <p class="photo-subtitle"> 以此景點為中心的一日行程，帶您探索城市角落故事</p>
          <div class="data-wrapper">
            <label for="photo-date">選擇日期：</label>
            <input type="date" id="photo-date" class="photo-date"> </input>
          </div>
          <div class="radio-wrapper">
            <label class="photo-time">選擇時間：</label>
            <input type="radio" id="morning" name="photo-radio" value="上半天" checked>
            <label for="morning" class="radio-label">上半天</label>
            <input type="radio" id="afternoon" name="photo-radio" value="下半天">
            <label for="afternoon" class="radio-label">下半天</label>
          </div>
          <div class="fee-wrapper">
            <label for="photo-fee">導覽費用：</label>
            <p id="photo-fee" class="photo-fee">新台幣 2000 元</p>
          </div>
          <button class="photo-submit" id="photo-submit" type="submit"><span>開始預約行程</span></button>
        </form>
      </div>
    </div>
  </div>
  <hr class="division-line" />
  <div class="attraction-essay">
    <p class="attraction-description"> 景點.description </p>
    <span class="attraction-address-title">景點地址：</span><br>
    <span class="attraction-address"> 景點.地址 address</span><br>
    <span class="attraction-transport-title">交通方式：</span>
    <p class="attraction-transport">景點.交通方式 transport</p>
  </div>
</main>
<script>
</script>
{% endblock %}
<!-- footer -->
<!-- </body> -->

<!-- </html> -->