<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"> -->
{% extends "base.html" %}

{% block title %}phrase 2 - Week 2-Booking{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/booking.min.css') }}">
<script src="{{ url_for('static', filename='js/booking.js') }}"></script>
{% endblock %}

<!-- </head> -->

<!-- <body> -->
{% block content %}
<main>
  <div class="booking-list-area booking-area">
    <h3 class="booking-list-h3">您好，<span class="booking-user">【不明用戶】</span>，待預訂的行程如下：</h3>
    <div class="booking-cube-list">
      <div class="booking-cube">
        <img class="booking-image" src="" alt="" width="266px" height="200px">
        <div class="booking-details">
          <h3 class="booking-title">台北一日遊： <span class="booking-attraction">【尚未確認地點】</span></h3>
          <h5 class="booking-subtitle"> <span class="booking-subtitle-bold">日期：</span><span class="booking-date">【尚未確認日期】</span></h5>
          <h5 class="booking-subtitle"> <span class="booking-subtitle-bold">時間：</span><span class="booking-time">【尚未確認時間】</span></h5>
          <h5 class="booking-subtitle"> <span class="booking-subtitle-bold">費用：</span><span class="booking-fee">【尚未確認費用】</span></h5>
          <h5 class="booking-subtitle"> <span class="booking-subtitle-bold">地點：</span><span class="booking-place">【尚未確認地點】</span></h5>
        </div>
        <div class="delete-booking" id="delete-booking">
          <img src="{{ url_for('static', filename='images/rubbish_bin.png') }}" alt="delete" width="30px" height="30px">
        </div>
      </div>
    </div>
  </div>
  <hr class="division-line main-division-line">
  <form class="booking-form">
    <div class="booking-area booking-form-area">
      <h3 class="booking-form-subtitle"> 您的聯絡資訊 </h3>
      <div class="booking-input-div">
        <label for="booking-name">聯絡姓名：</label>
        <input type="text" id="booking-name" name="booking-name" placeholder="姓名" required>
      </div>
      <div class="booking-input-div">
        <label for="booking-email">連絡信箱：</label>
        <input type="email" id="booking-email" name="booking-email" placeholder="電子郵件" required>
      </div>
      <div class="booking-input-div">
        <label for="booking-phone">手機號碼：</label>
        <input type="tel" id="booking-phone" name="booking-phone" placeholder="手機號碼" required>
      </div>
      <p class="booking-warning"><b>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</b></p>
    </div>
    <hr class="division-line">
    <div class="booking-area booking-form-area">
      <h3 class="booking-form-subtitle"> 信用卡付款資訊</h3>
      <div class="booking-input-div">
        <label for="booking-credit-card">卡片號碼：</label>
        <input type="password" id="booking-credit-card" name="booking-credit-card" placeholder="**** **** **** ****" required>
      </div>
      <div class="booking-input-div">
        <label for="booking-credit-card-exp">過期時間：</label>
        <input type="month" id="booking-credit-card-exp" name="booking-credit-card-exp" placeholder="MM / YY" required>
      </div>
      <div class="booking-input-div last-input-div">
        <label for="booking-credit-card-cvc">驗證密碼：</label>
        <input type="text" id="booking-credit-card-cvc" name="booking-credit-card-cvc" placeholder="CVV" required>
      </div>
    </div>
    <hr class="division-line">
    <div class="booking-submit">
      <p class="booking-total-title">總價：新台幣 <span class="booking-total-fee">【尚未確認金額】</span> 元</p>
      <button class="confirm-booking" id="confirm-booking" type="submit">確認訂購並付款</button>
    </div>
  </form>
</main>

{% endblock %}
<!-- </body> -->