<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"> -->
{% extends "base.html" %}

{% block title %}phrase 2 - Week 2-INDEX{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.min.css') }}">
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
<!-- </head> -->

<!-- <body> -->
<!-- header -->
{% block content %}
<!-- hero section -->
<div class="jumbotron" style="background-image: url({{ url_for('static', filename='images/jumbotron-bg.png') }});">
  <div class="jumbotron-text">
    <h1 class="slogan-h1">輕鬆享受台北一日悠閒</h1>
    <p class="subtitle-p">探索每個角落，體驗城市的深度旅遊行程</p>
    <div class="search-bar">
      <input type="text" placeholder="輸入景點名稱查詢" id="search-input">
      <button title="search-query" type="submit" id="search-button">
        <!-- <i class="fas fa-search fa-l"></i> -->
        <img width="30px" height="30px" src="{{ url_for('static', filename='images/search-icon.png') }}" alt="search-icon">
      </button>
    </div>
  </div>
</div>
<!-- selection buttons -->
<div class="button-list-wrapper">
  <button title="left-arrow" class="arrow-button left-arrow"><i class="fas fa-chevron-left fa-xs"></i></button>
  <div class="button-wrapper">
    <!-- <button class="keyword-button" data-keyword="關鍵字1">關鍵字1</button> -->
  </div>
  <button title="right-arrow" class="arrow-button right-arrow"><i class="fas fa-chevron-right fa-xs"></i></button>
</div>
<!-- the attraction lists -->
<main>
  <!-- <ul class="photo-profile">
        <li class="profile-li profile-li-1">
          <div class="profile-img profile-img-1">
            <img alt="profile-img-1" class="main-image" src="http://placekitten.com/420/500" />
            <div class="profile-img-div profile-title profile-title-1">
              <span>Title 1</span>
            </div>
          </div>
          <ul class="profile-img-div profile-des profile-des-1">
            <li>忠孝復興</li>
            <li>公共藝術</li>
          </ul> 
        </li>
      </ul> -->
</main>
<script>
</script>
{% endblock %}
<!-- footer -->
<!-- </body> -->

<!-- </html> -->